.Drop {
  position: absolute;
  top: 4.2rem;
  right: 2.5rem;
  width: 13rem;
  padding: 15px;
  background: rgba(163, 157, 165, 0.9);
  background: linear-gradient(12045deg, grey, black);
  color: white;
  border-radius: 5px;
}
