.wishlist-page {
  width: 80%;
  margin: 50px auto;

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  .wishlist-products {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .wishlist-product-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    width: 100%;

    img {
      width: 120px;
      height: 120px;
      border-radius: 5px;
    }

    .wishlist-product-info {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .buttoncart {
      background: black;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }

    .remove-button {
      background: red;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
    }

    .buttoncart:hover, .remove-button:hover {
      background-color: #444;
      transform: scale(1.05);
      transition: background-color 0.3s ease, transform 0.3s ease;
    }
  }

  .linkbtn {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    button {
      width: 13rem;
      padding: 15px 20px;
      border-radius: 3px;
      background: #db4444;
      color: #fff;
      border: none;
    }
  }
}
