.left___side {
  min-width: 15%;
  min-height: 25rem;
  @media screen and (max-width: 426px) {
    width: 95%;
  }
}
.right___side {
  width: 45rem;
  min-height: 25rem;
  @media screen and (max-width: 426px) {
    width: 95%;
    margin: auto;
  }
}
.lapel1 {
  width: 30%;
  background: #f5f5f5;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.frist_layer {
  display: flex;
  justify-content: space-evenly;
}
.sec_layer {
  min-width: 95%;
  background: #f5f5f5;
  padding: 0.5rem 0.5rem 8.5rem 0.5rem;
  border-radius: 0.2rem;
}
.btn_cont {
  right: 4.5%;
}
