// .container {
//   display: flex;
//   flex-wrap: wrap;
//   width: 96%;
//   margin: 4rem auto;
//   justify-content: space-between;
// }
.container .img1 {
  min-width: 60%;
}
.form-box {
  width: 30%;
  padding-top: 10rem;
}
.input-box {
  position: relative;
  // z-index: -10;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #808080;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
}
.ss button {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  margin: 10px 0;
}
#c {
  background: #db4444;
  color: #fff;
  border: none;
}
#g {
  background: #fff;
  border: 2px solid #bfbfbf;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 1rem;
  // position: relative;
}
#g img {
  width: 7%;
  // position: absolute;
  // right: 72%;
  // bottom: 20%;
  justify-content: center;
  justify-items: center;
}
.al a {
  color: black;
  text-decoration: underline;
}
@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .form-box {
    margin: auto;
    width: 65%;
  }
}
@media only screen and (max-width: 768px) {
  #g img {
  }
}
