.myp {
  margin: 80px auto;
  text-align: center;
  border-radius: 7px;
  width: 70%;
}
.myp img {
  width: 50%;
  height: 70vh;
  border-radius: 50%;
  margin: 20px auto;
}
.myp p {
  margin-bottom: 5px;
  font-size: larger;
}
.myp h1 {
  font-size: larger;
}
