.myp {
  margin: 80px auto;
  text-align: center;
  border-radius: 7px;
  width: 70%;
}
.myp img {
  width: 50%;
  height: 70vh;
  border-radius: 50%;
  margin: 20px auto;
  
  @media screen and (max-width: 1023px) {
    width: 400px;
  }
  @media screen and (max-width: 426px) {
    width: 300px;
    height: 45vh;
  }
  @media screen and (max-width: 376px) {
    width: 300px;
    height: 35vh;
  }
}
.myp p {
  margin-bottom: 5px;
  font-size: larger;
}
.myp h1 {
  font-size: larger;
}
