.profile-form {
    display: flex;
    flex-direction: column;
  width: 45rem;
  min-height: 25rem;
  @media screen and (max-width: 426px) {
    width: 95%;
    margin: auto;
  }
}
.profile-form input {
  margin: auto;
  width: 60%;
  background: #f5f5f5;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.btnfileimg {
    align-self: center;
  width: 60%;
  padding: 11px 0;
  position: relative;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 0.2rem;
  color: #f5f5f5;
  background: #db4444;
  border: 0;
  overflow: hidden;
}
.fileimg {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  transform: scale(6);
  opacity: 0;
}
.parttt1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
.profile-btn{
    align-self: flex-end;
}