.header_sales {
  .horizental_child::after {
    content: "  ";
    position: absolute;
    height: 40px;
    width: 20px;
    border-radius: 5px;
    background-color: #db4444;
    text-align: center;
    z-index: -1;
  }
  span {
    font-size: 25px;
    font-weight: 400;
    margin-left: 3rem;
    color: #db4444;
  }
  h2 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 2rem;
  }
}